body{
    margin: 0;
}
main{
    height: 500px;
    background: hsl(0, 100%, 74%);
    position: relative;
    padding: 20px;
}
.bg-img{
    height: 100%;
    width: 100%;
}
.left{
    /* background: #000; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 44px;
    color: white;
}
.right{
    /* background: #00f; */
    width: 50%;
        padding: 0 44px ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0; */
    width: 100%;
    height: 100%;
    /* background: #000; */
    display: flex;
    /* padding: ; */
}

.try{
    background: hsl(248, 32%, 49%);
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 7px;
    width: 100%;
}

.form-wrapper{
    background: white;
    border-radius: 12px;
    padding: 22px;
}
input{
    width: 100%;
    margin-bottom: 12px;
    padding: 9px 0px;
}

.submit{
    background: hsl(154, 59%, 51%);
    border: none;
    width: 100%;
    padding: 12px 16px;
}