main {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parent {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #4a90e2, #9013fe);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 500px;
}
.parent .firstchild, .parent .secondchild, .parent .thirdchild, .parent .fourthchild {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
    
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.firstchild .circle{
    background-color: #ffffff7b;
    font-size: larger;
}
.circle p {
    color: #ffffff;
    font-weight: bold;
    font-size: larger;
    margin-top: 40px;
    
}
.text {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}
.text p {
    margin: 0px;
    color: #e2e1e489;
}
.text h4 {
    margin: 0px;
    
}

.login{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-image: linear-gradient(to bottom right, #eeeeee00, #ffffff00);
    padding: 50px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
}
.login h1 {
    color: #000000;
    font-size: 24px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-bottom: 0px;
}
.login p {
    color: #00000097;
    font-size: 15px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 0px;
}
input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
    background-color: #320172;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
/* #username{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ff0000;
    border-radius: 4px;
    background-color: black;
} */